body {
  font-family: "Inter", sans-serif;
  color: #030616;
}

.title-section {
  text-align: center;
  padding-bottom: 36px; /* 상하 내부 패딩 */
}

.questions {
  background-color: #F8FAFC;
  padding-top: 36px; /* FAQ 섹션 간 간격 */
  padding-left: 12px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
  }

h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px
}

p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px; /* 문단 사이 간격 */
  padding-top: 20px; /* 문단 사이 간격 */
}

li {
  margin-bottom: 10px; /* 리스트 항목 사이 간격 */
}
